               * {
                padding: 0%;
                margin: 0%;
                border: 0%;
                box-sizing: border-box;
                color: black;
            }



            .letter{

                text-align: center;
                font-family: 'Press Start 2P', cursive;
                font: 10%;
            }
            .link {

                position: absolute;
                margin-top:6%;
                margin-left: 36%;
                width: 25%;
                height: 45%;
                background-color: white;
                z-index: 1;
                border: solid rgb(32, 38, 116);
                border-radius: 10%;
            }
            .titulo{
             text-align: center;
             font-family: 'Press Start 2P', cursive;
             margin-top: 1%;

         }

         .espaco {
            width: 4%;
            height: 5%;
            display: inline-block;
            position: relative;
            border: solid black;
            margin: 0.2%;
            background-color: hsl(120, 50%, 30%);
            border-radius: 25%;
        }

        .espaco:hover {
            background-color: white;
        }


        #jogo {
            margin: auto;
            width: 57%;
            margin-top: 3%;
            margin-left: 20%;
            margin-right: 10%;
            border: solid black;

        }


        .imagem {
            margin-left: 47.4%;
            margin-top: -2.1%;
            position: absolute;
            z-index: 2; 
           
        }
        .imagem:hover{
            color: transparent
        }

        .nivel {
            position: absolute;
            margin-top: 2%;
            margin-left: 27%;
            border: solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .voltar {   
            position: absolute;
            margin-top: 42%;
            margin-left: 47.2%;
        }
        .h1{
            text-align: center;

        }
        body { 
        background-image: url('endereco-da-imagem.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
}