               * {
                padding: 0%;
                margin: 0%;
                border: 0%;
                box-sizing: border-box;
                color: black;
            }



            .letter{

                text-align: center;
                font-family: 'Press Start 2P', cursive;
                font: 10%;
            }
            .link {

                position: absolute;
                margin-top:6%;
                margin-left: 36%;
                width: 25%;
                height: 45%;
                background-color: white;
                z-index: 1;
                border: solid rgb(32, 38, 116);
                border-radius: 10%;
                align-items: center;    
            }
            .titulo{
               text-align: center;
               font-family: 'Press Start 2P', cursive;
               margin-top: 1%;
               position: relative;

           }

           .espaco {
            width: 40px;
            height: 50px;            
            border: solid black;
            margin: 0.2%;
            background-color: hsl(120, 50%, 30%);
            border-radius: 25%;
            position: relative;
        }

        .espaco:hover {
            background-color: white;
        }


        #jogo {
            
            width: 800px; 
            display: flex;
            justify-content: space-around; /*juntar os irmãos*/
            align-items: center; /*centralização*/
            flex-direction: row; /*coluna e linha*/
            flex-wrap: wrap; /*quebra de linha*/          
            border: solid black;
            
        }


        .imagem {
            margin-left: 500px;
            display: flex;
            align-items: center;         
            
        }
        .imagem:hover{
            color: transparent
        }

        .nivel {
            
            border: solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .voltar{

        }
        .h1{
            text-align: center;


        }
        .body { 
          width: 100%;
          margin: auto;
                      background-attachment: fixed;
                  }
            .container{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
            }      
